* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Magra-Bold';
    src: url(./assets/fonts/Magra-Bold.ttf);
}

@font-face {
    font-family: 'Aleo-Regular';
    src: url(./assets/fonts/Aleo-Regular.ttf);
}

@font-face {
    font-family: 'Aleo-Italic';
    src: url(./assets/fonts/Aleo-Italic.ttf);
}

@font-face {
    font-family: 'Aleo-Bold';
    src: url(./assets/fonts/Aleo-Bold.ttf);
}


@font-face {
    font-family: 'RedHatText-Medium';
    src: url(./assets/fonts/RedHatText-Medium.ttf);
}

html {
    scroll-behavior: smooth;

}

body {
    max-width: 1440px;
    margin: 0 auto;
}

html, body {
    font-size: 10px;
}

header {
    position: relative;
    z-index: 50;
}

.container {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    padding-right: 120px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 120px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header-title {
    font-family: 'Magra-Bold';
    font-size: 3.2rem;
    line-height: 39px;
    color: #FFFFFF;
}

div.logo {
    display: flex;
    align-items:center;
    position: relative;
}

.nav {
    position: relative;
    right: 15px;
    height: 100%;
}

ul.menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 42px;
    list-style-type: none;
    height: 100%;
}

.burger-btn, .burger-closer {
    display: none
}

.burger-item {
    display: none;
}

.menu-item {
    height: 50px;
}

.menu-item:hover {
    transform: scale(1.2, 1.2);
    cursor: pointer;
    transition: 0.2s;
}

.menu-link {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-family: 'RedHatText-Medium';
    font-size: 16px;
    line-height: 21px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border: none;
    border-radius: 10px;
    width: 228px;
    height: 59px;
    font-family: 'RedHatText-Medium';
    transition: 0.5s;
}

.btn:hover {
    transform: scale(0.9, 0.9);
    cursor: pointer;
}

.btn-login {
    width: 103px;
    height: 41px;
    padding: 10px;
    font-size: 16px;
    line-height: 21px;   
}

h2, h3 {
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 4rem;
    line-height: 5.3rem;
    color: #F2785C;;
}

section.preview .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 122px 120px 334px 120px;
    margin-top: -90px;
    background-image: url(./assets/images/background1.jpg);
    background-repeat: no-repeat;
    background-position:top;
    }

h1 {
    font-family: 'Aleo-Bold';
    font-size: 8rem;
    line-height: 9.6rem;
    color: #FFFFFF;
    max-width: 892px;
}

p.preview-text {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 32px 0 46px 0;
    max-width: 892px;
}

form.search {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 892px;
}

.search input {
    width: 100%;
    height: 95px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    border: none;
    padding: 42px 291px 41px 41px;
}

input::placeholder {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #F2785C;
}

.btn-search {
    position: absolute;
    left: 72.4%;
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.container-steps {
    display: flex;
    justify-content: space-between;
    padding-bottom: 97px;
}
    
.steps-title {
    margin-bottom: 40px;
    text-align: center;
}

.step-item:first-child {
    position: relative;
    left: 12px;
}

.step-item:nth-child(2) {
    position: relative;
    left: 37px;
}

.step-item:last-child {
    position: relative;
    right: 10px;
}

figure p {
    text-align: center;
    }

figcaption {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    padding-top: 25px;
}

.destinations-container {
    position: relative;
    padding: 0;
    align-items: center;
}

.destinations-title {
    margin-bottom: 46px;
}

.slider {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.pic-slider {
    position: relative;
}

.pic-slider img {
    border-radius: 16px;
    object-fit: cover;
    margin: 0 30px;
}

.pic-name {
    left: 45px;
    bottom: 40px;
    position: absolute;
    font-family: 'RedHatText-Medium';
    font-size: 3.2rem;
    line-height: 4.2rem;
    color: #FFFFFF;
}

.swiper-container {
    margin-top: 24px;
    margin-bottom: 40px;
}

.swiper-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
    margin-right: 10px;
}

.swiper-item:last-child {
    margin-right: 0;
}

.swiper-item-active {
    background-color: #F2785C;
}

.btn-more {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 40px;
}

.btn-arrow {
    margin-right: 10px;
}

.stories-container {
    background-color:rgba(255, 255, 255, 0.7);
    align-items:center;
}

.background-container {
    background-image: url(./assets/images/background2.jpg);
    background-repeat:no-repeat;
    background-position: bottom;
    margin-bottom: -61px;
    padding-bottom: 61px;
}

.stories-title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.story {
    display: flex;
    margin-bottom: 30px;
}

.story:first-child {
    margin-top: 40px;
}

.story:nth-child(4) {
    margin-bottom: 40px;
}

.story-img {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
    max-width: 100%;
    object-fit: cover;
}

.story-text {
    margin-left: 40px;
}

.story-text h3 {
    margin-bottom: 20px;
    font-family: 'Aleo-Regular';
    font-size: 3.5rem;
    line-height: 4.2rem;
    color: #0D606F;
}

.story-text p {
    font-family: 'Aleo-Regular';
    font-size: 2rem;
    line-height: 2.4rem;
    color: #0D606F;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 6;
}

.text-read-more {
    font-family: 'Aleo-Bold';
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    text-decoration: underline;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 61px;
    padding: 0 120px;
}

.rsscool-link {
    display: flex;
    align-items: center;
}

ul.social{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}

.footer-container p {
    font-family: 'RedHatText-Medium';
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #FFFFFF;
}

@media screen and (max-width: 1220px) {

    .story-text p {
        -webkit-line-clamp: 5;
    }
}

@media screen and (max-width: 1120px) {
    html, body {
        font-size: 8px;
    }

    section.preview .container, .container, .header-container, .footer-container {
        padding-left: 60px;
        padding-right: 60px;
    }

    form.search {
       max-width: 700px;
    }

    .search input {
        height: 80px;
        padding: 42px 200px 41px 41px;
    }

    .btn {
        width: 180px;
        height: 48px;
    }

    .btn-search {
        left: 72%;
    }

    .btn-login {
        width: 103px;
        height: 41px;
    }
}

@media screen and (max-width: 1023px) {

    html, body {
        font-size: 7px;
    }

    .header-container {
        height: 90px;
        padding: 0;
        background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 69%);
        box-shadow: none;
    }

    .header-title, .btn-login {
        display: none;
    }

    div.logo {
       margin-top: 38px;
    }

    form.search {
        max-width: 540px;
        max-height: 72px;
    }

    h1 {
        padding-bottom: 30px;
    }

    p.preview-text {
        display: none;
    }

    section.preview .container, .container, .header-container {
        padding-left: 50px;
        padding-right: 50px;
    }

    section.preview .container {
        background-size: cover;
        padding: 202px 230px 61px 50px;
    }

    .search input {
        padding: 24px 180px 24px 16px;
        max-height: inherit;
    }

    .btn {
        width: 138px;
        height: 45px;
        box-shadow: none;
    }

    .btn-search, .btn-more {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 0;
    }

    .btn-more {
        margin-bottom: 13px;
    }

    .btn-arrow {
        width: 18px;
        height: 12px;
        margin-right: 7px;
    }

    input::placeholder {
        font-size: 17px;
        line-height: 22px;
    }

    .steps-title {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .step-item {
        max-width: 100px;
    }

    .step-item img {
        max-width: 100px;
        max-height: 100px;
        border-radius: 16px;
    }

    figcaption {
        font-size: 15px;
        line-height: 18px;
        padding-top: 20px;
    }

    .step-item:first-child {
        left: 0;
        max-width: 120px;
    }
    
    .step-item:nth-child(2) {
        left: 0;
        max-width: 180px;
        text-align: center;
    }
    
    .step-item:last-child {
        right: 0;
        max-width: 120px;
        text-align: end;
    }

    figure p {
        text-align:inherit;
        }

    .container-steps {
        padding-bottom: 20px;
    }

    .destinations-title {
        margin-bottom: 20px;
    }

    .slider {
        margin-bottom: 12px;
    }

    .pic-slider img {
        border-radius: 16px;
        object-fit: cover;
        margin: 0 30px;
        width: calc(100vw - 100px);
        height: auto;
    }

    .pic-name {
        top: 8px;
    }

    .swiper-container {
        position: absolute;
        width: 100%;
        margin: 0;
        bottom: 100px;
        display: flex;
        justify-content: center;
    }

    .stories-title {
        margin-top: 7px;
        margin-bottom: 10px;
    }

    .story {
        margin-bottom: 20px;
    }
    
    .story:first-child {
        margin-top: 20px;
    }
    
    .story:nth-child(4) {
        margin-bottom: 15px;
    }
    
    .story-img {
        width: 260px;
        height: auto;
        margin-right: 10px;
    }
    
    .story-text {
        margin-left: 10px;
    }

    .story-text h3 {
        margin-bottom: 10px;
    }

    .story-text p {
        -webkit-line-clamp: 8;
    }

    .footer-container p {
        font-size: 14px;
        line-height: 17px;
    } 
 

/* -------------------burger menu----------------- */
    .burger-btn {
        display: block;
        position: absolute;
        top: 50px;
        right: 25px;
        z-index: 2;
    }

    .burger-closer {
        display: block;
        position: absolute;
        top: 15px;
        right: 135px;
        z-index: 2;
    }

    .nav {
        width: 100%;
        right: 0;
    }

    ul.menu {
        height: 251px;
    }

    .menu {
        position: absolute;
        width: 165px;
        background: #F2785C;
        box-shadow: 0px 4px 3px rgb(13 96 111 / 25%);
        border-radius: 10px;
        right: -50px;
        z-index: 2;
    }

    .menu-item{
        display: flex;
        width: 100%;
        height: min-content;
        justify-content: flex-end;
        margin: 0 15px 10px 0;
    }

    .menu-item:first-child {
        margin: 44px 15px 10px 0;
    }

    .menu-item:last-child {
        margin: 0 15px 30px 0;
    }

    .burger-item {
        display: flex;
    }
/* -----------------------End burger menu---------------- */

}

@media screen and (max-width: 796px) {

    h1 {
        font-size: 40px;
        line-height: 48px;
    }

    form.search {
        max-width: 450px;
        max-height: 60px;
    }

    .btn {
        width: 115px;
        height: 38px;
        box-shadow: none;
    }

    .btn-search, .btn-more {
        font-size: 14px;
        line-height: 18px;
    }

    section.preview .container {
        padding: 202px 200px 61px 50px;
    }
}


@media screen and (max-width: 699px) {

    html, body {
        font-size: 5px;
    }

    form.search {
        max-width: 360px;
        max-height: 48px;
    }

    .btn {
        width: 92px;
        height: 30px;
        box-shadow: none;
    }

    .btn-search, .btn-more {
        font-size: 11px;
        line-height: 15px;
    }

    section.preview .container {
        padding: 202px 200px 61px 50px;
    }
}

@media screen and (max-width: 599px) {

    .header-container {
        height: 90px;
        padding: 0;
        background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 69%);
        box-shadow: none;
    }

    h1 {
        display: none;
    }

    section.preview .container, .container, .header-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    section.preview .container {
        background-size:cover;
        padding: 142px 15px 61px 15px;
    }

    .search input {
        padding: 24px 120px 24px 16px;
        max-height: inherit;
    }

    .btn-search, .btn-more {
        margin-bottom: 0;
    }

    .btn-more {
        margin-bottom: 13px;
    }

    .btn-arrow {
        width: 9px;
        height: 6px;
        margin-right: 7px;
    }

    input::placeholder {
        font-size: 14px;
        line-height: 17px;
    }

    h2, h3 {
        font-size: 14px;
        line-height: 18.52px;
    }

    .steps-title {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .step-item {
        max-width: 100px;
    }

    .step-item img {
        max-width: 70px;
        max-height: 70px;
        border-radius: 16px;
    }

    figcaption {
        font-size: 10px;
        line-height: 12px;
        padding-top: 20px;
    }

    .step-item:first-child {
        left: 0;
        max-width: 80px;
    }
    
    .step-item:nth-child(2) {
        left: 0;
        max-width: 120px;
        text-align: center;
    }
    
    .step-item:last-child {
        right: 0;
        max-width: 80px;
        text-align: end;
    }

    .slider {
        margin-bottom: 9px;
    }

    .pic-name {
        top: 8px;
        font-size: 20px;
        line-height: 26px;
    }

    .pic-slider img {
        width: calc(100vw - 30px);
    }

    .swiper-container {
        position: absolute;
        width: 100%;
        margin: 0;
        bottom: 65px;
        display: flex;
        justify-content: center;
    }

    .swiper-item {
        width: 8px;
        height: 8px;
        margin-right: 5px;
    }

    .stories-title {
        margin-top: 7px;
        margin-bottom: 10px;
    }

    .story {
        margin-bottom: 15px;
    }
    
    .story:first-child {
        margin-top: 14px;
    }
    
    .story:nth-child(4) {
        margin-bottom: 6px;
    }
    
    .story-img {
        width: 155px;
        height: 130px;
        margin-right: 10px;
    }
    
    .story-text {
        margin-left: 0;
    }

    .story-text h3 {
        margin-bottom: 10px;
        font-size: 11px;
        line-height: 13px;
        font-weight: 700;
    }

    .story-text p {
        font-size: 9px;
        line-height: 11px;
        -webkit-line-clamp: 8;
    }

    .background-container {
        margin-bottom: -65px;
        padding-bottom: 65px;
        background-image: url(./assets/images/background2forMob.jpg);
        background-repeat:no-repeat;
        background-position: bottom;
        background-size:cover;
    }
    
    .footer-container {
        height: 65px;
        padding: 0 15px;
        justify-content: space-between;
    }

    .footer-container p {
        display: none;
    }

    .rs-icon {
        width: 75px;
    }

    .git-icon {
        width: 30px;
    }

    .soc-icon {
        width: 30px;
        height: 30px;
    }

    .menu {
        right: -15px;
      }
}

@media screen and (max-width: 390px) {

    section.preview .container {
        padding: 142px 15px 61px 15px;
        background-image: url(./assets/images/background1forMob.jpg);
    }

    .footer-container {
        justify-content: center;
    }
    
    .rsscool-link {
        position: absolute;
        left: 15px;
    }

    .social {
        position: relative;
    }

    .social li{
        position: relative;
    }

    .social li:first-child {
        left: 1px;
    }

    .social li:nth-child(2) {
        left: 4px;
    }

    .social li:last-child {
        left: 8px;
    }
}
