* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Magra-Bold';
    src: url(./assets/fonts/Magra-Bold.ttf);
}

@font-face {
    font-family: 'Aleo-Regular';
    src: url(./assets/fonts/Aleo-Regular.ttf);
}

@font-face {
    font-family: 'Aleo-Italic';
    src: url(./assets/fonts/Aleo-Italic.ttf);
}

@font-face {
    font-family: 'Aleo-Bold';
    src: url(./assets/fonts/Aleo-Bold.ttf);
}


@font-face {
    font-family: 'RedHatText-Medium';
    src: url(./assets/fonts/RedHatText-Medium.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    width: 1440px;
    margin: 0 auto;
}

header {
    position: relative;
    z-index: 2;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 120px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header-title {
    font-family: 'Magra-Bold';
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

div.logo {
    display: flex;
    align-items:center;
    position: relative;
}

.nav {
    position: relative;
    right: 15px;
    height: 100%;
}

ul.menu {
    display: flex;
    align-items: center;
    gap: 42px;
    list-style-type: none;
    height: 100%;
}

.menu-item {
    height: 50px;
}

.menu-item:hover {
    transform: scale(1.2, 1.2);
    cursor: pointer;
    transition: 0.5s;
}

.menu-link {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-family: 'RedHatText-Medium';
    font-size: 16px;
    line-height: 21px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border: none;
    border-radius: 10px;
    width: 228px;
    height: 59px;
    font-family: 'RedHatText-Medium';
    transition: 0.5s;
}

.btn:hover {
    transform: scale(0.9, 0.9);
    cursor: pointer;
}

.btn-login {
    width: 103px;
    height: 41px;
    padding: 10px;
    font-size: 16px;
    line-height: 21px;   
}

h2, h3 {
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;;
}

section.preview .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 122px 428px 334px 120px;
    margin-top: -90px;
    background-image: url(./assets/images/background1.jpg);
    background-repeat: no-repeat;
    }

h1 {
    font-family: 'Aleo-Bold';
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
}

p.preview-text {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 32px 0 46px 0;
}

form.search {
    position: relative;
    display: flex;
    align-items: center;
    
}

.search input {
    width: 100%;
    height: 95px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    border: none;
    padding: 42px 291px 41px 41px;
}

input::placeholder {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.btn-search {
    position: absolute;
    left: 72.4%;
    font-size: 24px;
    line-height: 32px;
}

.container-steps {
    display: flex;
    justify-content: space-between;
    padding-bottom: 97px;
}
    
.steps-title {
    margin-bottom: 40px;
    text-align: center;
}

.step-item:first-child {
    position: relative;
    left: 12px;
}

.step-item:nth-child(2) {
    position: relative;
    left: 37px;
}

.step-item:last-child {
    position: relative;
    right: 10px;
}

figure p {
    text-align: center;
    }

figcaption {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    padding-top: 25px;
}

.destinations-title {
    margin-bottom: 46px;
}

.destinations div {
    align-items: center;
}

.slider {
    position: relative;
    max-width: 1440px;
    overflow-x: hidden;
    display: flex;
    justify-content: space-around;
}

.slider img {
    border-radius: 16px;
    margin-right: 60px;
}

.slider img:last-child {
    margin-right: 0;
}

.usa-name {
    position: absolute;
    font-family: 'RedHatText-Medium';
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    left: 1195px;
    bottom: 40px;
}

.japan-name {
    position: absolute;
    font-family: 'RedHatText-Medium';
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    left: 335px;
    bottom: 40px;
}

.swiper-container {
    margin-top: 24px;
    margin-bottom: 40px;
}

.swiper-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
    margin-right: 10px;
}

.swiper-item:last-child {
    margin-right: 0;
}

.swiper-item-active {
    background-color: #F2785C;
}

.btn-more {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 40px;
}

.btn-arrow {
    margin-right: 10px;
}

.stories-container {
    background-color:rgba(255, 255, 255, 0.7);
    align-items:center;
}

.background-container {
    background-image: url(./assets/images/background2.jpg);
    background-repeat:no-repeat;
    margin-bottom: -61px;
    padding-bottom: 61px;
}

.stories-title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.story {
    display: flex;
    margin-bottom: 30px;
}

.story:first-child {
    margin-top: 40px;
}

.story:nth-child(4) {
    margin-bottom: 40px;
}

.story-img {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}

.story-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
}

.story-text h3 {
    margin-bottom: 20px;
    font-family: 'Aleo-Regular';
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
}

.story-text p {
    font-family: 'Aleo-Regular';
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.text-read-more {
    font-family: 'Aleo-Bold';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: underline;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 61px;
    margin: 0 120px;
}

ul.social{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    padding-right: 120px;
}

.footer-container p {
    font-family: 'RedHatText-Medium';
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}